<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>
<style>
    .container {
        width 100px;
    }

    .container img {
        object- t: contain;
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
    }
</style>

<body>
    <div class="container">
        <h1>HIDE PAGE</h1>
        <h2> {{ errorMessage }}</h2>
        <h3>choose image:</h3>

        <form action="/hideMessage" method="post">

            <div class="container">
                {{ images }}
            </div>
            <h3>specify message in input:</h3>
            <input name="message" type="text" class="" placeholder="enter message" required>
            <h3>or select file containing message:</h3>
            <select name="filepicker">
                {{ messages }}
            </select>




            <br>
            <br>
            <br>
            <br>
            <input type="submit" class="" value="HIDE">
        </form>
    </div>
</body>

</html>