<!DOCTYPE html>
<html>

<body>
    <div class="container">
        <h1>HIDE SUCCESS</h1>
        <h3>name of the image created: </h3>
        <h2> {{ imageName }}</h2>
        <h3>links:</h3>
        <a href="/hide" style="color:red;font-size:15px;">HIDE PAGE</a>
        <a href="/unhide" style="color:blue;font-size:15px;">UNHIDE PAGE</a>
        
    </div>
</body>

</html>