<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>
<style>
    .container {
        width 100px;
    }

    .container img {
        object- t: contain;
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
    }
</style>

<body>
    <div class="container">
        <h1>UNHIDE PAGE</h1>
        <h2> {{ errorMessage }}</h2>
        <h3>choose image:</h3>

        <form action="/unhideMessage" method="post">

            <div class="container">
                {{ images }}
            </div>
            


            <br>
            <br>
            <br>
            <br>
            <input type="submit" class="" value="UNHIDE">
        </form>
    </div>
</body>

</html>